@import "colors";
@import "variables";
@import "mixin";

* {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
body{
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // height: 30%;
        height: 90px;
        padding-top: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 3vw;
        padding-right: 3vw;
    
        .icon {
          font-size: 30px;
          align-self: center;
        }
    
        .navbar {
          display: none;
        }
    
        .responsiveness {
          display: grid;
          position: absolute;
          flex-direction: row;
          left: 0;
          right: 0;
          top: 93px;
          width: 100%;
          padding: 0px;
          margin: 0px;
          background-color: #e5e5e5;
    
          a {
            text-decoration: none;
            color: black;
            @include font;
            font-size: 18px;
            line-height: 2.5;
    
            button {
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 5px;
              padding-bottom: 5px;
              background-color: $firstcolor;
              border-radius: 15px;
              color: #ffff;
              margin-top: 1px;
            }
          }
        }
    
        @media screen and (min-width: 993px) {
          .navbar {
            display: flex;
    
            .link {
              display: flex;
              justify-content: space-between;
              justify-content: space-between;
              align-items: center;
              align-self: center;
              justify-content: center;
              @include font;
    
              color: black;
    
              a {
                padding-left: 3.5vw;
                text-decoration: none;
                color: black;
                // &:hover{
                //   border-bottom: 5px solid black;
                // }
              }
    
              .btn {
                button {
                  width: 150px;
                  height: 50px;
                  border-radius: 15px;
                  background-color: $firstcolor;
                  @include font;
                  color: white;
                  font-weight: 400;
                }
              }
            }
          }
    
          .icon {
            display: none;
          }
        }
      }
    section{
        padding-left: $align;
        padding-right: $align;
        padding-top: 30px;
        @media screen and (min-width:768px) {
         padding-top: 60px;   
        }
        
        .backfnt{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            img{
                width: 50%;
            }
        }
        .form{
            
            
            div:first-child{
                small{
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    padding-bottom: 12px;
                    img{
                       width: 20px; 
                    }
                    h6{
                        padding: 0px;
                        margin: 0px;
                        font-family: $familyN;
                        font-size: 25px;
                        font-weight: 700;
                        padding-left: 4px;
                    }
                    
                    
                    @media screen and (min-width:768px) {
                       padding-bottom: 40px; 
                    }
                }
                small + p{
                    font-size: 13px;
                    padding-bottom: 20px;
                }
                span + p + div{
                    padding-bottom: 15px;
                }
                button{
                    width: 100%;
                    padding: 10px 0px 10px 0px;
                    background-color: $section3colour;
                    color: $colourwhite;
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 10px;
                    &:hover{
                        background-color: $colourwhite;
                        color: $firstcolor;
                    }
                }
                @media screen and (min-width:500px) {
                    padding-left: 20vw ;
                    padding-right: 20vw;
                    
                }
                @media screen and (min-width:768px) {
                    padding-left: 3vw ;
                    padding-right: 3vw;
                    
                }
                .return{
                    display:flex;
                      justify-content: center;
                      padding-top: 40px;
                      span{
                        padding-left: 4px;
                       
                        color: $firstcolor
                      }
                }
            } 
             button + h6{
                     display:flex;
                      justify-content: center;
                      padding-top: 40px;
                      
                     
                     
                     span{
                         padding-left: 4px;
                        
                         color: $firstcolor;
                     }
                 }
            div:nth-child(2){
                display: none;
                @media screen and (min-width:768px) {
                  display: flex;  
                }
            }
                
        }

    }
}

.topinp{
    padding: 0px !important;
    position: relative;
    .fa-eye{
        position: absolute;
        margin-top: -26px;
        right: 5px;
    }
}
.valt{
    display: block !important;
    position: relative;
    .fa-eye{
        position: absolute;
        margin-top: -26px;
        right: 5px;
    }
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}
.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}