.none {
  display: none;
}

* {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 3vw;
  padding-right: 3vw;
}

body .header .icon {
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .header .navbar {
  display: none;
}

body .header .responsiveness {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 0;
  right: 0;
  top: 93px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #e5e5e5;
}

body .header .responsiveness a {
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.5;
}

body .header .responsiveness a button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E77D2C;
  border-radius: 15px;
  color: #ffff;
  margin-top: 1px;
}

@media screen and (min-width: 993px) {
  body .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header .navbar .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  body .header .navbar .link a {
    padding-left: 3.5vw;
    text-decoration: none;
    color: black;
  }
  body .header .navbar .link .btn button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #E77D2C;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-weight: 400;
  }
  body .header .icon {
    display: none;
  }
}

body .section1 {
  padding-left: 3vw;
  padding-right: 3vw;
}

body .section1 h5 {
  font-family: Nunito Sans;
  color: #E77D2C;
  padding-top: 20px;
  line-height: 4;
}

@media screen and (min-width: 992px) {
  body .section1 h5 {
    padding-top: 90px;
    font-size: 28px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 h5 {
    padding-top: 120px;
  }
}

body .section1 .secImg {
  padding-top: 30px;
}

@media screen and (min-width: 992px) {
  body .section1 .secImg {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 .secImg {
    padding-top: 60px;
  }
}

body .section1 h1 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 0;
  font-family: Nunito Sans;
}

@media screen and (min-width: 600px) {
  body .section1 h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 600px) {
  body .section1 h1 {
    font-size: 80px;
  }
}

@media screen and (min-width: 992px) {
  body .section1 h1 {
    font-size: 56px;
    font-weight: 800;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 h1 {
    font-size: 93px;
  }
}

body .section1 p {
  font-family: Nunito Sans;
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 600px) {
  body .section1 p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 p {
    font-size: 25px;
    line-height: 35px;
  }
}

body .section1 .btn1 {
  display: none;
}

@media screen and (min-width: 992px) {
  body .section1 .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
  }
  body .section1 .btn1 button {
    width: 36%;
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
    background-color: #E77D2C;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  body .section1 .btn1 button:hover {
    background-color: #FFFFFF;
    color: black;
  }
}

body .section1 .btn2 button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #E77D2C;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  body .section1 .btn2 button {
    display: none;
  }
}

body .section1 .search {
  background-color: #EDEDED;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

body .section1 .search h3 {
  display: none;
}

@media screen and (min-width: 992px) {
  body .section1 .search {
    padding-bottom: 180px;
    padding-top: 40px;
    margin-top: 40px;
  }
  body .section1 .search h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 4.5vw;
    font-family: Nunito Sans;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 400;
  }
}

body .section1 .search .search2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: 30px;
  margin-left: 2vw;
  border-radius: 20px;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 {
    height: 75px;
    margin-left: -4vw;
    width: 89.3%;
  }
}

body .section1 .search .search2 .form-select {
  width: 50vw !important;
  border: none !important;
  font-size: 2vw;
  padding: 1vw !important;
  border-radius: 0%;
  font-family: Nunito Sans;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .form-select {
    font-size: 20px;
    width: 20% !important;
    border-right: 2px solid black !important;
  }
}

body .section1 .search .search2 .form1 {
  border-radius: 10px 0px 0px 10px;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .form1 {
    border-radius: 20px 0px 0px 20px;
  }
}

body .section1 .search .search2 .btn3 {
  background-color: #E77D2C;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  font-weight: 600;
}

body .section1 .search .search2 .btn3:hover {
  background-color: #FFFFFF;
  color: black;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .btn3 {
    position: absolute;
    right: 0px;
    margin-right: 6.5vw;
    border-radius: 15px;
    width: 20%;
    height: 75px;
    background-color: black;
    font-size: 25px;
  }
}

body .section2 {
  background-color: #212121;
}

body .section2 h5 {
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 3vw;
}

@media (min-width: 992px) {
  body .section2 h5 {
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

body .section2 h6 {
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 20px;
}

@media (min-width: 992px) {
  body .section2 h6 {
    font-size: 35px;
    padding-bottom: 40px;
  }
}

body .section2 .destopcaroul .content {
  padding-left: 4vw;
  padding-right: 4vw;
}

body .section2 .destopcaroul .content .firstLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content .firstLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content .firstLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content .firstLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content .secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content .secondLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content .secondLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content .secondLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content2 {
  padding-left: 4vw;
  padding-right: 4vw;
}

body .section2 .destopcaroul .content2 .thirdLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content2 .thirdLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content2 .thirdLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content2 .thirdLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content2 .fourthLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content2 .fourthLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content2 .fourthLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content2 .fourthLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content3 {
  padding-right: 4vw;
  padding-left: 4vw;
}

body .section2 .destopcaroul .content3 .fifthLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content3 .fifthLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content3 .fifthLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content3 .fifthLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content3 .sixLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content3 .sixLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content3 .sixLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content3 .sixLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content4 {
  padding-right: 4vw;
  padding-left: 4vw;
}

body .section2 .destopcaroul .content4 .sevenLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content4 .sevenLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content4 .sevenLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content4 .sevenLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content4 .eightLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content4 .eightLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content4 .eightLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content4 .eightLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .none {
  display: none;
}

@media only screen and (min-width: 500px) {
  body .section2 .nm {
    display: inline-block;
  }
}

@media only screen and (min-width: 700px) {
  body .section2 .nt {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  body .section2 .nd {
    display: inline-block;
  }
}

body .section2 .mobileview {
  display: none;
}
/*# sourceMappingURL=style.css.map */