@import "colors";
@import "variables";
@import "mixin";

* {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
// header {
//   width: 100%;
//   height: 30%;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   padding-top: 5px;
//   padding-bottom: 5px;
//   padding-left: $align;
//   padding-right: $align;

//  .header {
//    display: contents;
//       .icon {
//           font-size: 30px;
//     }
//     @include flex;
//     justify-content: space-between;
//     align-items: center;
//     position: relative;
//     // a {
//         //     text-decoration: none;
//     //     color: black;
//     //     @include font;
//     //     font-size: 18px;
//     //     line-height: 2.5;
//     //     button{
//     //         padding-left: 30px;
//     //         padding-right: 30px;
//     //         padding-top: 5px;
//     //         padding-bottom: 5px;
//     //         background-color: $firstcolor;
//     //         border-radius: 15px;
//     .navbar {
//       display: none;
//     }

//     .responsive {
//       position: absolute;
//       flex-direction: row;
//       left: 0;
//       right: 0;
//       top: 65px;
//       width: 100%;
//       padding: 0px;
//       margin: 0px;
//       background-color: #e5e5e5;
//       a {
//         text-decoration: none;
//         color: black;
//         @include font;
//         font-size: 18px;
//         line-height: 2.5;
//         button {
//           padding-left: 30px;
//           padding-right: 30px;
//           padding-top: 5px;
//           padding-bottom: 5px;
//           background-color: $firstcolor;
//           border-radius: 15px;
//         }

// }

//     // text-align: left;
//     // align-self:  center;

// }

// }}
// @media screen and (min-width: 993px) {
//   .navbar {
//     ul {
//       display: flex;
//       justify-content: space-between;
//       .btn {
//         button {
//           width: 123px;
//           height: 50px;
//           border-radius: 15px;
//           background-color: $firstcolor;
//           @include font;
//           color: white;
//         }
//       }
//       li {
//         padding-left: 3.5vw;
//         align-items: center;
//         align-self: center;
//         justify-content: center;
//         @include font;

//         color: black;
//         a {
//           text-decoration: none;
//           color: black;
//         }
//       }
//       //     }
//       // }
//     }
//   }
//   .icon {
//     display: none;
//   }
//   .navbar {
//     flex-direction: column;
//   }
// }
// header{
//     .header{
//         width: 100%;
//          height: 30%;
//           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     }
// }
body {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // height: 30%;
    height: 90px;
    padding-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 3vw;
    padding-right: 3vw;

    .icon {
      font-size: 30px;
      align-self: center;
    }
    .navbar {
      display: none;
    }
    .responsiveness {
      display: grid;
      position: absolute;
      flex-direction: row;
      left: 0;
      right: 0;
      top: 93px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      background-color: #e5e5e5;
      a {
        text-decoration: none;
        color: black;
        @include font;
        font-size: 18px;
        line-height: 2.5;
        button {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: $firstcolor;
          border-radius: 15px;
          color: #ffff;
          margin-top: 1px;
        }
      }
    }

    @media screen and (min-width: 993px) {
      .navbar {
        display: flex;
        .link {
          display: flex;
          justify-content: space-between;
          justify-content: space-between;
          align-items: center;
          align-self: center;
          justify-content: center;
          @include font;

          color: black;

          a {
            padding-left: 3.5vw;
            text-decoration: none;
            color: black;
            // &:hover{
            //   border-bottom: 5px solid black;
            // }
          }
          .btn {
            button {
              width: 150px;
              height: 50px;
              border-radius: 15px;
              background-color: $firstcolor;
              @include font;
              color: white;
              font-weight: 400;
            }
          }
        }
      }
      .icon {
        display: none;
      }
    }
  }
  .section1 {
    padding-left: 3vw;
    padding-right: 3vw;
    h5 {
      font-family: $familyN;
      color: $firstcolor;
      padding-top: 20px;
      line-height: 4;
      @media screen and (min-width: 992px) {
        padding-top: 90px;
        font-size: 28px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      @media screen and (min-width: 1111px) {
        padding-top: 120px;
      }
    }
    .secImg {
      padding-top: 30px;
      @media screen and (min-width: 992px) {
        padding-top: 80px;
      }
      @media screen and (min-width: 1111px) {
        padding-top: 60px;
      }
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      padding-top: 0;
      font-family: $familyN;
      @media screen and (min-width: 600px) {
        font-size: 60px;
      }
      @media screen and (min-width: 600px) {
        font-size: 80px;
      }
      @media screen and (min-width: 992px) {
        font-size: 56px;
        font-weight: 800;
      }
      @media screen and (min-width: 1111px) {
        font-size: 93px;
      }
    }
    p {
      font-family: $familyN;
      line-height: 25px;
      padding-bottom: 10px;
      padding-top: 10px;
      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 30px;
      }
      // @media screen and (min-width: 992px) {
      //   font-size: 20px;
      //   line-height: 30px;
      // }
      @media screen and (min-width: 1111px) {
        font-size: 25px;
        line-height: 35px;
      }
    }
    .btn1 {
      display: none;
      @media screen and (min-width: 992px) {
        display: flex;
        text-decoration: none;
        button {
          width: 36%;
          padding: 15px 0px 15px 0px;
          border-radius: 20px;
          background-color: $firstcolor;
          font-family: $familyN;
          font-size: 24px;
          font-weight: 700;
          color: $colourwhite;
          margin-bottom: 15px;
          &:hover {
            background-color: $colourwhite;
            color: $colourblack;
          }
        }
      }
    }
    .btn2 {
      button {
        // padding-left: 100px;
        // padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        border-radius: 10px;

        background-color: $firstcolor;
        font-family: $familyN;
        font-size: 18px;
        font-weight: 700;
        color: $colourwhite;
        @media screen and (min-width: 992px) {
          display: none;
        }
      }
    }
    .search {
      background-color: $offwhitecolour;
      height: 70px;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 20px;
      padding-top: 20px;
      padding-bottom: 50px;
      h3 {
        display: none;
      }
      @media screen and (min-width: 992px) {
        padding-bottom: 180px;
        padding-top: 40px;
        margin-top: 40px;
        h3 {
          display: flex;
          padding-left: 4.5vw;
          font-family: $familyN;
          font-size: 30px;
          padding-bottom: 10px;
          font-weight: 400;
        }
      }
      .search2 {
        display: flex;
        justify-content: center;
        // border: 2px solid black;
        // position: absolute;
        width: 95%;
        height: 30px;
        margin-left: 2vw;
        border-radius: 20px;

        // background-color: $colourwhite;
        @media screen and (min-width: 992px) {
          height: 75px;
          margin-left: -4vw;
          width: 89.3%;
        }

        .form-select {
          width: 50vw !important;
          border: none !important;
          font-size: 2vw;
          // margin-left: -3px;
          // background-color: transparent;
          // margin-right: -15px;
          padding: 1vw !important;
          border-radius: 0%;
          font-family: $familyN;
          font-weight: 500;
          @media screen and (min-width: 992px) {
            font-size: 20px;
            width: 20% !important;

            border-right: 2px solid black !important;
          }
        }
        .form1 {
          border-radius: 10px 0px 0px 10px;
          @media screen and (min-width: 992px) {
            border-radius: 20px 0px 0px 20px;
          }
        }
        .btn3 {
          background-color: $firstcolor;
          border-radius: 0px 10px 10px 0px;
          color: $colourwhite;
          font-family: $familyN;
          font-size: 12px;
          padding: 0px 5px 0px 5px;
          font-weight: 600;
          &:hover {
            background-color: $colourwhite;
            color: $colourblack;
          }
          @media screen and (min-width: 992px) {
            position: absolute;
            right: 0px;
            margin-right: 6.5vw;
            border-radius: 15px;
            width: 20%;
            height: 75px;
            background-color: $colourblack;
            font-size: 25px;
          }
        }
      }
    }
  }
  .section2 {
    background-color: $section2colour;
    h5 {
      color: $colourwhite;
      font-family: $familyN;
      font-weight: 700;
      padding-top: $small * 1.5;
      padding-bottom: $small *0.5;
      padding-left: 5vw;
      padding-right:$align;
      @media  (min-width:992px) {
        font-size: 35px;
        padding-top: $small * 4;
        padding-bottom: $small * 2;
      }
    }
    h6{
      color: $colourwhite;
      font-family: $familyN;
      font-weight: 700;
      padding-top: $small * 6;
      padding-bottom: $small *0.5;
      padding-left: $align;
      padding-right:$align; 
      font-size: 20px;
      @media  (min-width:992px) {
        font-size: 35px;
        // padding-top: $small * 8;
        padding-bottom: $small * 2;
      }
    }
    .destopcaroul {
      
      .content {
         padding-left: 4vw;
          padding-right: 4vw;
        
        .firstLine{
          display: flex;
          
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            // margin-bottom: 0px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .secondLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      .content2{
        padding-left: 4vw;
        padding-right: 4vw;
        .thirdLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .fourthLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      .content3{
        padding-right: 4vw;
        padding-left: 4vw;
        .fifthLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .sixLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      .content4{
        padding-right: 4vw;
        padding-left: 4vw;
        .sevenLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
        .eightLine{
          display: flex;
          img{
            width: 100%;
            padding-left: 5vw;
            padding-right:5vw;
          }
          p{
            color: $colourwhite;
            text-align: center;
            font-family: $familyN;
            font-size: 18px;
            line-height: 25px;
            padding-top: 25px;
          }
          button{
            display: flex;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px 20px 10px 20px;
            background-color: $firstcolor;
            color: $colourwhite;
            font-size: $familyN;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
    .none{
      display: none;
      
    }
    .nm{
      @media only screen  and(min-width:500px) {
        display: inline-block;
      }
    }
    .nt{
      @media only screen  and(min-width:700px) {
        display: inline-block;
      }
    }
    .nd{
      @media only screen  and(min-width:992px) {
        display: inline-block;
      }
    }
    .mobileview {
      display: none;
    }
  }
}
