.none {
  display: none;
}

* {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

::-moz-selection {
  color: pink;
  background-color: red;
}

::selection {
  color: pink;
  background-color: red;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 3vw;
  padding-right: 3vw;
}

body .header .logo img {
  padding-top: 10px;
  width: 85%;
}

body .header .icon {
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .header .navbar {
  display: none;
}

body .header .responsiveness {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 0;
  right: 0;
  top: 93px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #e5e5e5;
}

body .header .responsiveness a {
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.5;
}

body .header .responsiveness a button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E77D2C;
  border-radius: 15px;
  color: #ffff;
  margin-top: 1px;
}

@media screen and (min-width: 993px) {
  body .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header .navbar .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  body .header .navbar .link a {
    padding-left: 3.5vw;
    text-decoration: none;
    color: black;
  }
  body .header .navbar .link a:hover {
    color: #E77D2C;
  }
  body .header .navbar .link .btn button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #E77D2C;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-weight: 400;
  }
  body .header .navbar .link .btn button:hover {
    background-color: #FFFFFF;
    color: black;
  }
  body .header .icon {
    display: none;
  }
}

body .section1 {
  padding-left: 3vw;
  padding-right: 3vw;
}

body .section1 h5 {
  font-family: Nunito Sans;
  color: #E77D2C;
  padding-top: 20px;
  line-height: 4;
}

@media screen and (min-width: 992px) {
  body .section1 h5 {
    padding-top: 90px;
    font-size: 28px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 h5 {
    padding-top: 120px;
  }
}

body .section1 .secImg {
  padding-top: 30px;
}

@media screen and (min-width: 992px) {
  body .section1 .secImg {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 .secImg {
    padding-top: 60px;
  }
}

body .section1 h1 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 0;
  font-family: Nunito Sans;
}

@media screen and (min-width: 600px) {
  body .section1 h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 600px) {
  body .section1 h1 {
    font-size: 80px;
  }
}

@media screen and (min-width: 992px) {
  body .section1 h1 {
    font-size: 56px;
    font-weight: 800;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 h1 {
    font-size: 93px;
  }
}

body .section1 p {
  font-family: Nunito Sans;
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 600px) {
  body .section1 p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1111px) {
  body .section1 p {
    font-size: 25px;
    line-height: 35px;
  }
}

body .section1 .btn1 {
  display: none;
}

@media screen and (min-width: 992px) {
  body .section1 .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
  }
  body .section1 .btn1 button {
    width: 36%;
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
    background-color: #E77D2C;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  body .section1 .btn1 button:hover {
    background-color: #FFFFFF;
    color: black;
  }
}

body .section1 .btn2 button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #E77D2C;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  body .section1 .btn2 button {
    display: none;
  }
}

body .section1 .search {
  background-color: #EDEDED;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

body .section1 .search h3 {
  display: none;
}

@media screen and (min-width: 992px) {
  body .section1 .search {
    padding-bottom: 180px;
    padding-top: 40px;
    margin-top: 40px;
  }
  body .section1 .search h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 4.5vw;
    font-family: Nunito Sans;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 400;
  }
}

body .section1 .search .search2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: 30px;
  margin-left: 2vw;
  border-radius: 20px;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 {
    height: 75px;
    margin-left: -4vw;
    width: 89.3%;
  }
}

body .section1 .search .search2 .form-select {
  width: 50vw !important;
  border: none !important;
  font-size: 2vw;
  padding: 1vw !important;
  border-radius: 0%;
  font-family: Nunito Sans;
  font-weight: 500;
}

@media screen and (min-width: 752px) {
  body .section1 .search .search2 .form-select {
    font-size: 11px;
  }
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .form-select {
    font-size: 20px;
    width: 20% !important;
    border-right: 2px solid black !important;
  }
}

body .section1 .search .search2 .form1 {
  border-radius: 10px 0px 0px 10px;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .form1 {
    border-radius: 20px 0px 0px 20px;
  }
}

body .section1 .search .search2 .btn3 {
  background-color: #E77D2C;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  font-weight: 600;
}

body .section1 .search .search2 .btn3:hover {
  background-color: #FFFFFF;
  color: black;
}

@media screen and (min-width: 992px) {
  body .section1 .search .search2 .btn3 {
    position: absolute;
    right: 0px;
    margin-right: 6.5vw;
    border-radius: 15px;
    width: 20%;
    height: 75px;
    background-color: black;
    font-size: 25px;
  }
}

body .section2 {
  background-color: #212121;
}

body .section2 h5 {
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 3vw;
}

@media (min-width: 992px) {
  body .section2 h5 {
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

body .section2 h6 {
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 20px;
}

@media (min-width: 992px) {
  body .section2 h6 {
    font-size: 35px;
    padding-bottom: 40px;
  }
}

body .section2 span {
  padding-bottom: 50px;
}

body .section2 span .showd {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

body .section2 span .showd button {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E77D2C;
  font-family: Nunito Sans;
  font-size: 22px;
  color: #FFFFFF;
}

body .section2 span .showd button:hover {
  background-color: #FFFFFF;
  color: black;
}

body .section2 .destopcaroul .content {
  padding-left: 4vw;
  padding-right: 4vw;
}

body .section2 .destopcaroul .content .firstLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .destopcaroul .content .firstLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section2 .destopcaroul .content .firstLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content .firstLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content .firstLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

body .section2 .destopcaroul .content2 {
  padding-left: 4vw;
  padding-right: 4vw;
}

body .section2 .destopcaroul .content2 .thirdLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .destopcaroul .content2 .thirdLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content2 .thirdLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content2 .thirdLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content2 .thirdLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

body .section2 .destopcaroul .content3 {
  padding-right: 4vw;
  padding-left: 4vw;
}

body .section2 .destopcaroul .content3 .fifthLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .destopcaroul .content3 .fifthLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content3 .fifthLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content3 .fifthLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content3 .fifthLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

body .section2 .destopcaroul .content4 {
  padding-right: 4vw;
  padding-left: 4vw;
}

body .section2 .destopcaroul .content4 .sevenLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .destopcaroul .content4 .sevenLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

body .section2 .destopcaroul .content4 .sevenLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

body .section2 .destopcaroul .content4 .sevenLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

body .section2 .destopcaroul .content4 .sevenLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

body .section2 .none {
  display: none;
}

@media only screen and (min-width: 400px) {
  body .section2 .nm {
    display: inline-block;
  }
}

@media only screen and (min-width: 700px) {
  body .section2 .nt {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  body .section2 .nd {
    display: inline-block;
  }
}

body .section2 .secSec {
  background-color: #FFFFFF;
  padding-right: 6vw;
  padding-left: 6vw;
  padding-top: 70px;
  position: relative;
  padding-bottom: 50px;
}

body .section2 .secSec .elipse {
  position: absolute;
  top: 40px;
  left: 0;
}

@media screen and (min-width: 800px) {
  body .section2 .secSec .elipse {
    display: none;
  }
}

body .section2 .secSec .elipseD {
  display: none;
}

@media screen and (min-width: 800px) {
  body .section2 .secSec .elipseD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -155px;
    left: 0;
  }
}

body .section2 .secSec h2:first-child {
  font-size: 22px;
  font-family: Nunito Sans;
  font-weight: 600;
  padding-left: 4.5vw;
}

@media screen and (min-width: 600px) {
  body .section2 .secSec h2:first-child {
    margin-left: -4vw;
  }
}

@media screen and (min-width: 800px) {
  body .section2 .secSec h2:first-child {
    font-size: 30px;
    padding-top: 3vw;
    padding-left: 5vw;
  }
}

@media screen and (min-width: 1060px) {
  body .section2 .secSec h2:first-child {
    margin-left: -6vw;
    font-size: 45px;
  }
}

body .section2 .secSec h2:nth-child(2) {
  color: #E77D2C;
  font-weight: 500;
  font-size: 22px;
  font-family: Nunito Sans;
  padding-bottom: 20px;
  padding-left: 4.5vw;
}

@media screen and (min-width: 600px) {
  body .section2 .secSec h2:nth-child(2) {
    margin-left: -4vw;
  }
}

@media screen and (min-width: 800px) {
  body .section2 .secSec h2:nth-child(2) {
    font-size: 30px;
    padding-left: 5vw;
  }
}

@media screen and (min-width: 1060px) {
  body .section2 .secSec h2:nth-child(2) {
    margin-left: -6vw;
    font-size: 45px;
  }
}

body .section2 .secSec .firstChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1228px) {
  body .section2 .secSec .firstChild p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1260px) {
  body .section2 .secSec .firstChild p b {
    padding-top: 40px;
  }
}

body .section2 .secSec .firstChild div:first-child {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-top: 30px;
  width: 90%;
  min-height: 40vh;
  margin-left: 5vw;
  font-size: 1em;
}

@media screen and (min-width: 645px) {
  body .section2 .secSec .firstChild div:first-child {
    width: 40vw;
    margin-left: 0vw;
    padding-top: 40px;
  }
}

@media screen and (min-width: 934px) {
  body .section2 .secSec .firstChild div:first-child {
    width: 25vw;
  }
}

body .section2 .secSec .firstChild div:nth-child(2) {
  display: none;
}

@media screen and (min-width: 645px) {
  body .section2 .secSec .firstChild div:nth-child(2) {
    display: inline-block;
    width: 40vw;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-top: 40px;
    font-size: 1em;
  }
}

@media screen and (min-width: 934px) {
  body .section2 .secSec .firstChild div:nth-child(2) {
    width: 25vw;
  }
}

body .section2 .secSec .firstChild div:nth-child(3) {
  display: none;
}

@media screen and (min-width: 934px) {
  body .section2 .secSec .firstChild div:nth-child(3) {
    display: inline-block;
    width: 25vw;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-top: 40px;
  }
}

body .section3 {
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  background-color: #E87E2E;
  padding-bottom: 30px;
}

body .section3 h3 {
  font-family: Nunito Sans;
  color: #FFFFFF;
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  body .section3 h3 {
    font-size: 40px;
  }
}

body .section3 div {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  border-radius: 15px;
}

body .section3 div img {
  width: 20%;
  padding-top: 7px;
  padding-bottom: 7px;
}

@media screen and (min-width: 992px) {
  body .section3 div img {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

body .section3 div img:last-child {
  display: none;
}

@media screen and (min-width: 992px) {
  body .section3 div img:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body footer {
  background-color: #212121;
  color: #FFFFFF;
  padding-left: 4.5vw;
  padding-right: 6vw;
  font-family: Nunito Sans;
}

body footer a {
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  display: block;
  color: #FFFFFF;
  padding-top: 20px;
}

body footer a p {
  font-size: 12px;
}

@media screen and (min-width: 766px) {
  body footer a {
    padding-top: 42px;
  }
  body footer a i {
    font-size: 30px;
  }
  body footer a p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1037px) {
  body footer .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body footer .foot .divD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .foot .divD span {
  font-size: 20px;
  font-weight: 700;
}

body footer .foot .divD span + p {
  padding-top: 10px;
}

body footer .foot .divD p {
  font-size: 15px;
}

@media screen and (min-width: 600px) {
  body footer .foot .divD p {
    font-size: 18px;
    width: 200px;
  }
}

@media screen and (min-width: 766px) {
  body footer .foot .divD {
    padding-top: 40px;
  }
}

body footer .foot .divD div:first-child {
  width: 170px;
}

body footer .foot .divD div:nth-child(2) p {
  line-height: 0.6;
  color: rgba(255, 255, 255, 0.7);
}

body footer .foot .divD div:nth-child(2) h5 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}

@media screen and (min-width: 766px) {
  body footer .foot .divD div:nth-child(2) {
    padding-top: 10px;
    padding-left: 10vw;
  }
}

@media screen and (min-width: 1250px) {
  body footer .foot .divD div:nth-child(2) {
    padding-left: 14vw;
  }
}

body footer .foot .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  font-family: Nunito Sans;
}

@media screen and (min-width: 766px) {
  body footer .foot .div2 {
    margin-top: -27px;
  }
}

body footer .foot .div2 div:first-child {
  color: rgba(255, 255, 255, 0.7);
}

body footer .foot .div2 div:first-child h5 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}

body footer .foot .div2 div:first-child p {
  font-size: 15px;
}

@media screen and (min-width: 600px) {
  body footer .foot .div2 div:first-child p {
    font-size: 18px;
  }
}

body footer .foot .div2 div:last-child h5 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}

body footer .foot .div2 div:last-child span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .foot .div2 div:last-child span input {
  width: 100%;
  padding: 5px;
  font-size: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #E87E2E;
  color: #FFFFFF;
  padding-left: 3px;
}

@media screen and (min-width: 600px) {
  body footer .foot .div2 div:last-child span input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-right: 3vw;
  }
}

body footer .foot .div2 div:last-child span button {
  background-color: #FFFFFF;
  padding: 0px 3px 4px 2px;
  margin-left: -6px;
  width: 40px;
  border-radius: 10px;
  -webkit-transform: translateX(-5x);
          transform: translateX(-5x);
}

@media screen and (min-width: 600px) {
  body footer .foot .div2 div:last-child span button {
    width: 70px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@media screen and (min-width: 1035px) {
  body footer .foot .div2 div:last-child span button {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

@media screen and (min-width: 1125px) {
  body footer .foot .div2 div:last-child {
    padding-left: 100px;
  }
}

body footer .copyright {
  text-align: center;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  padding-top: 40px;
}

@media screen and (min-width: 766px) {
  body footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.secondDep {
  padding-top: 0px;
  margin-top: -120px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.secondDep .secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondDep .secondLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.secondDep .secondLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

.secondDep .secondLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

.secondDep .secondLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

.secondDep .fourthLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondDep .fourthLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.secondDep .fourthLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

.secondDep .fourthLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

.secondDep .fourthLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

.secondDep .sixLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondDep .sixLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.secondDep .sixLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

.secondDep .sixLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

.secondDep .sixLine button:hover {
  background-color: #FFFFFF;
  color: black;
}

.secondDep .eightLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondDep .eightLine img {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.secondDep .eightLine p {
  color: #FFFFFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 25px;
  padding-top: 25px;
}

.secondDep .eightLine button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #E77D2C;
  color: #FFFFFF;
  font-size: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
}

.secondDep .eightLine button:hover {
  background-color: #FFFFFF;
  color: black;
}
/*# sourceMappingURL=style.css.map */