@import "./dashmodule/varibles";
@import "./dashmodule/reset";
.lid {
    box-shadow: $shadow;
    background-color: $hover;
    .ul {
        padding-right: 3vw;
        width: 86%;
        .nav-item {
            padding-left: 20px;
            .nav-link {
                color: $color;
                font-size: 20px;
                font-weight: 500;
                font-family: $firstfamily;
                &:hover {
                    color: $btncolor;
                }
            }
            &:last-child {
                .nav-link {
                    background-color: $btncolor;
                    width: 170%;
                    border-radius: 12px;
                    &:hover {
                        background-color: $hover;
                        border: 1px solid $btncolor;
                        color: $color !important;
                    }

                    @media screen and (max-width: 990px) {
                        width: 127px;
                        margin-top: 2vh;
                    }
                }
            }
        }
        @media screen and (max-width: 990px) {
            margin-left: 0 !important;
        }
    }
}
.dashboard {
    background-color: $dashboard;
    color: $hover;
    .side-view1 {
        border: 2px solid $user;
        background-color: $user;
        padding: 8px;
        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }
    .side-views {
        background-color: $hover;
        padding: 8px;
        border-bottom: 2px solid #6b65614a;
        a {
            text-decoration: none;
            color: $color;
            &:hover {
                color: $btncolor;
            }
        }
        .textme {
            font-size: 20px;
            font-weight: 300;
            font-family: $font2;
        }
        @media screen and (min-width: 992px) {
            width: 50%;
        }
        .btn {
            width: 180px;
            height: 8vh;
            background-color: $btncolor;
            border: 2px solid $btncolor;
            border-radius: 13px;
            color: $hover;
            &:focus {
                box-shadow: none !important;
            }
            &:hover {
                color: $color;
                background-color: $user2;
            }
        }
        .log {
            margin: 0;
            margin-bottom: 5px;
        }
    }
}
.dash-select {
    .bg {
        background-color: $bookbg;
        border-radius: 13px;
        .search {
            padding-left: 2vw !important;
            .book {
                font-weight: 400 !important;
                font-family: $font2;
            }
        }
        .sec {
            @media screen and (max-width: 990px) {
                margin-bottom: 0 !important;
            }
        }
        .last {
            position: relative;
            .btn {
                color: $hover;
                position: absolute;
                right: -66%;
                top: 0;
                height: 8vh;
                width: 67%;
                font-size: 20px;
                border: 2px solid $btncolor;
                background-color: $btncolor;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 575px) {
                    margin-right: 2vw;
                }
                &:hover {
                    background-color: $hover;
                    color: $color;
                }
            }
        }
        @media screen and (min-width: 1000px) {
            transform: translateX(10px);
        }
    }
}
.wrapper {
    background-color: $hover;
    color: $color;
    border-bottom: 1px solid $bookbg;
    @media screen and (min-width: 1000px) {
        width: 125%;
        transform: translateX(-105px);
    }
    @media screen and (min-width: 1300px) {
        transform: translateX(-127px);
    }
    @media screen and (min-width: 1400px) {
        transform: translateX(-148px);
    }
    .mean {
        font-size: 30px;
    }
}
.wrapper-box {
    background-color: $hover;
    color: $color;
    min-height: 586px;
    .bell {
        font-size: 20px;
        font-weight: 400;
    }
    .bell-in {
        height: 50px;
        &:focus {
            box-shadow: none !important;
            border: 1px solid;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    .inbox {
        position: relative;
        .number {
            position: absolute;
            top: 0;
            color: $hover;
            width: 4%;
            background-color: $color;
            border-radius: 100%;
            font-size: 20px;
            font-weight: 700;
            transform: translateY(98px) translateX(54px);
            @media screen and (min-width: 576px) {
                transform: translateY(88px) translateX(48px);
            }
            @media screen and (min-width: 768px) {
                transform: translateY(96px) translateX(54px);
            }
        }
    }
    .inbox-text {
        p {
            font-weight: 400;
            color: $dashboard;
        }
        .shop {
            width: 195px;
            color: $hover;
            font-weight: 600;
        }
        .recent-p {
            @media screen and (min-width: 1000px) {
                width: 73%;
                transform: translateX(70px);
            }
            @media screen and (min-width: 1200px) {
                transform: translateX(93px);
            }
        }
    }

    #open {
        cursor: pointer;
        border-bottom: 1px solid $btncolor;
        padding-bottom: 15px;
        @media screen and (max-width: 990px) {
            font-size: 15px;
        }
    }
    #close {
        cursor: pointer;
        color: $dashboard;
        @media screen and (max-width: 990px) {
            font-size: 15px;
            margin-left: 4vw;
        }
    }
    .order-card {
        padding: 18px;
        border-radius: 15px;
        .open-items {
            @media screen and (min-width: 1400px) {
                display: flex;
                flex-direction: row !important;
                justify-content: space-evenly;
            }
        }
        .text-order {
            flex-direction: column;
            .price {
                background-color: $hover !important;
                color: $color !important;
                font-weight: 500 !important;
                width: 70% !important;
                font-size: 16px !important;
                .discount {
                    color: $btncolor !important;
                    margin-left: 24px;
                }
            }
            .three {
                text-decoration: line-through;
            }
            p {
                color: $dashboard;
                font-size: 16px;
                font-family: $font2;
                font-weight: 400 !important;

                &:nth-child(4) {
                    background-color: $delivered;
                    color: $hover;
                    border-radius: 5px;
                    padding: 2px;
                    font-size: 12px;
                    width: 69px;
                    font-family: $firstfamily;
                    @media screen and (min-width: 1000px) {
                        width: 70px;
                    }
                }
                &:nth-child(5) {
                    color: $color;
                    font-weight: 700 !important;
                    font-size: 14px;
                    margin-top: 4px;
                    width: 100%;
                }
            }
        }
        .details {
            @media screen and (min-width: 1400px) {
                transform: translateX(68px);
            }
            a {
                text-decoration: none;
                color: $user;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .view-order {
            a {
                text-decoration: none;
                color: $change;
                @media screen and (min-width: 1400px) {
                    font-size: 17px;
                    font-weight: 600;
                }
            }

            .out {
                background-color: $dashboard;
                color: $hover;
                padding: 2px;
                font-family: $font2;
                font-weight: 300 !important;
                transform: translateX(20px);
                border-radius: 4px;
                @media screen and (max-width: 1399px) {
                    width: 131px;
                    margin-top: 2vh;
                }
            }
            .remove {
                span {
                    color: $btncolor;
                    font-weight: 300;
                }
                @media screen and (min-width: 1400px) {
                    transform: translateY(86px) translateX(20px);
                }
            }
        }
    }
    @media screen and (min-width: 1000px) {
        width: 125%;
        transform: translateX(-105px);
    }
    @media screen and (min-width: 1300px) {
        transform: translateX(-127px);
    }
    @media screen and (min-width: 1400px) {
        transform: translateX(-148px);
    }
    .row {
        .half {
            .mind {
                border: 2px solid $border;
                border-radius: 12px;
                .bord {
                    border-bottom: 2px solid $border;
                    font-size: 20px;
                    font-weight: 600;
                    @media screen and (max-width: 992px) {
                        font-size: 15px;
                    }
                }
                .good {
                    .lead {
                        font-weight: 400;
                    }
                    .email {
                        a {
                            text-decoration: none;
                            color: $color;
                            font-weight: 300;
                        }
                    }
                    .add {
                        font-weight: 300;
                    }
                    .leads {
                        font-size: 18px;
                        gap: 8px;
                        min-height: 15vh;
                    }
                }
                .c-foot {
                    border: none;
                    p {
                        a {
                            text-decoration: none;
                            color: $change;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
.slides {
    .row {
        .slidess {
            gap: 5vw;
            @media screen and (max-width: 990px) {
                gap: 11vw;
            }
        }
        .bookk {
            font-size: 16px;
            font-family: $font2;
            font-weight: 700;
        }
        .side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .bun {
                width: 47%;
            }
        }
        .mygov {
            min-width: fit-content;
            @media screen and (max-width: 1000px) {
                justify-content: left !important;
            }
        }

        .texting {
            color: $color;
            @media screen and (max-width: 1000px) {
                margin-bottom: 2% !important;
            }
        }
    }
}
.footer {
    color: $hover;

    .first-p {
        @media screen and (min-width: 1000px) {
            margin-top: 4vh !important;
        }
    }

    .gru2 {
        @media screen and (min-width: 767px) {
            margin-top: 1.5vh;
        }
    }
    .row {
        padding: 15px;
    }
    .two {
        margin-top: 1vh;
        .light {
            align-items: center;
            @media screen and (min-width: 470px) {
                margin-top: 2vh;
            }
            @media screen and (min-width: 700px) {
                margin-top: 0;
            }
            h5 {
                @media screen and (min-width: 470px) {
                    font-size: 25px;
                }
            }
            p {
                font-size: 14px;
                @media screen and (min-width: 700px) {
                    font-size: 16px;
                    margin-top: 1.5vh;
                }
                @media screen and (min-width: 1000px) {
                    font-size: 16px;
                    margin-top: 0;
                }
            }
            .first-p {
                @media screen and (min-width: 1000px) {
                    margin-top: 3.5vh;
                }
            }
        }
    }
    .booklygup {
        display: flex;
        flex-direction: column;

        p {
            font-size: 13px;
            display: flex;
            margin: 0 0 2vh 0;
        }
    }
    .paper {
        font-size: 12px;
        margin-top: 2vh;
        @media screen and (min-width: 440px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1000px) {
            font-size: 17px;
        }
    }
    .contact {
        font-size: 12.9px;
        h5 {
            @media screen and (min-width: 470px) {
                font-size: 25px;
            }
        }
    }
    .subscribe {
        position: relative;
        h5 {
            font-size: 18.2px;
            @media screen and (min-width: 470px) {
                font-size: 20.5px !important;
            }
        }
        .inn {
            background-color: $btncolor !important;
            color: $hover !important;
            border: none !important;
            border-radius: 15px;
            &::placeholder {
                color: $hover !important;
            }
            &:focus {
                box-shadow: none !important;
            }
        }
        .bt {
            background-color: $hover;
            height: 6vh;
            border: 1px solid $hover;
            border-radius: 13px 13px 12px 12px;
            width: 162%;
            transform: translateX(-13px);
        }
    }
}
