.bar {
  font-size: 30px;
}

h5 {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
}

@media screen and (min-width: 400px) {
  h5 {
    width: 66%;
  }
}

@media screen and (min-width: 576px) {
  h5 {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  h5 {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  h5 {
    width: 73%;
  }
}

@media screen and (min-width: 1200px) {
  h5 {
    width: 49%;
  }
}

.side-items h6 {
  margin-left: 3vw;
  font-weight: 600;
}

@media screen and (max-width: 577px) {
  .search {
    display: none !important;
  }
}

@media screen and (max-width: 577px) {
  .search .buk {
    display: none;
  }
}

@media screen and (max-width: 587px) {
  .drolist {
    width: 90%;
  }
}

.dropdown {
  border-radius: 16px 0px 0 15px;
  height: 8vh;
  background-color: #ffffff;
}

.dropdown:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
}

.drop {
  height: 8vh;
}

.drop:focus {
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (min-width: 1000px) {
  .glass {
    display: none !important;
  }
}

.get {
  border-radius: 0px 18px 17px 0;
}

@media screen and (min-width: 320px) {
  .get {
    display: none !important;
  }
}

@media screen and (min-width: 1000px) {
  .get {
    display: block !important;
    width: 75% !important;
  }
}

@media screen and (min-width: 1200px) {
  .get {
    width: 70% !important;
  }
}

.get:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.in {
  position: relative;
}

.in .dropp {
  position: absolute;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(20.2px);
          transform: translateY(20.2px);
}

.in .dropp i {
  font-size: 21px;
  color: black !important;
}

.in .dropp i:hover {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .in .dropp {
    top: -3px;
  }
}

@media screen and (max-width: 576px) {
  .in {
    display: none;
  }
}

.secondselect .sec {
  position: relative;
}

.secondselect .sec .dropped {
  position: absolute;
  top: 0px;
  right: 16px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.secondselect .sec .dropped i {
  font-size: 18px;
}

@media screen and (min-width: 577px) {
  .secondselect {
    display: none;
  }
}

.wrapper h1 {
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 364px) {
  .sub {
    font-size: 15px !important;
  }
}

.lid {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.lid .ul {
  padding-right: 3vw;
  width: 86%;
}

.lid .ul .nav-item {
  padding-left: 20px;
}

.lid .ul .nav-item .nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.lid .ul .nav-item .nav-link:hover {
  color: #e77d2c;
}

.lid .ul .nav-item:last-child .nav-link {
  background-color: #e77d2c;
  width: 170%;
  border-radius: 12px;
}

.lid .ul .nav-item:last-child .nav-link:hover {
  background-color: #ffffff;
  border: 1px solid #e77d2c;
  color: #000000 !important;
}

@media screen and (max-width: 990px) {
  .lid .ul .nav-item:last-child .nav-link {
    width: 127px;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 990px) {
  .lid .ul {
    margin-left: 0 !important;
  }
}

.dashboard {
  background-color: #6b6561;
  color: #ffffff;
  min-height: 200vh;
}

.dashboard .side-view1 {
  border: 2px solid #f79240;
  background-color: #f79240;
  padding: 8px;
}

@media screen and (min-width: 992px) {
  .dashboard .side-view1 {
    width: 50%;
  }
}

.dashboard .side-views {
  background-color: #ffffff;
  padding: 8px;
  border-bottom: 2px solid #6b65614a;
}

.dashboard .side-views a {
  text-decoration: none;
  color: #000000;
}

.dashboard .side-views a:hover {
  color: #e77d2c;
}

.dashboard .side-views .textme {
  font-size: 20px;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (min-width: 992px) {
  .dashboard .side-views {
    width: 50%;
  }
}

.dashboard .side-views .btn {
  width: 180px;
  height: 8vh;
  background-color: #e77d2c;
  border: 2px solid #e77d2c;
  border-radius: 13px;
  color: #ffffff;
}

.dashboard .side-views .btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dashboard .side-views .btn:hover {
  color: #000000;
  background-color: #f38d39d0;
}

.dashboard .side-views .log {
  margin: 0;
  margin-bottom: 5px;
}

.dash-select .bg {
  background-color: #c4c4c4;
  border-radius: 13px;
}

.dash-select .bg .search {
  padding-left: 2vw !important;
}

.dash-select .bg .search .book {
  font-weight: 400 !important;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 990px) {
  .dash-select .bg .sec {
    margin-bottom: 0 !important;
  }
}

.dash-select .bg .last {
  position: relative;
}

.dash-select .bg .last .btn {
  color: #ffffff;
  position: absolute;
  right: -66%;
  top: 0;
  height: 8vh;
  width: 67%;
  font-size: 20px;
  border: 2px solid #e77d2c;
  background-color: #e77d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .dash-select .bg .last .btn {
    margin-right: 2vw;
  }
}

.dash-select .bg .last .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (min-width: 1000px) {
  .dash-select .bg {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.wrapper {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 2px solid #c4c4c4;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 125%;
    -webkit-transform: translateX(-105px);
            transform: translateX(-105px);
  }
}

@media screen and (min-width: 1300px) {
  .wrapper {
    -webkit-transform: translateX(-127px);
            transform: translateX(-127px);
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    -webkit-transform: translateX(-148px);
            transform: translateX(-148px);
  }
}

.wrapper-box {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (min-width: 1000px) {
  .wrapper-box {
    width: 125%;
    -webkit-transform: translateX(-105px);
            transform: translateX(-105px);
  }
}

@media screen and (min-width: 1300px) {
  .wrapper-box {
    -webkit-transform: translateX(-127px);
            transform: translateX(-127px);
  }
}

@media screen and (min-width: 1400px) {
  .wrapper-box {
    -webkit-transform: translateX(-148px);
            transform: translateX(-148px);
  }
}

.wrapper-box .row .half .mind {
  border: 2px solid #e5e5e5;
  border-radius: 12px;
}

.wrapper-box .row .half .mind .bord {
  border-bottom: 2px solid #e5e5e5;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .wrapper-box .row .half .mind .bord {
    font-size: 15px;
  }
}

.wrapper-box .row .half .mind .good .lead {
  font-weight: 400;
}

.wrapper-box .row .half .mind .good .email a {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

.wrapper-box .row .half .mind .good .add {
  font-weight: 300;
}

.wrapper-box .row .half .mind .good .leads {
  font-size: 18px;
  gap: 8px;
  min-height: 15vh;
}

.wrapper-box .row .half .mind .c-foot {
  border: none;
}

.wrapper-box .row .half .mind .c-foot p a {
  text-decoration: none;
  color: #E77D2C;
  font-size: 18px;
  font-weight: 400;
}
/*# sourceMappingURL=dashboard.css.map */