@import "./resetmodules/resetvarible";
@import "./resetmodules/content";
.lid {
    border-bottom: 3px solid $border;
    box-shadow: $shadow;
    background-color: $hover;
    .ul {
        padding-right: 3vw;
        width: 86%;
        .nav-item {
            padding-left: 20px;
            .nav-link {
                color: $color;
                font-size: 20px;
                font-weight: 600;
                font-family: $firstfamily;
                &:hover {
                    color: $btncolor;
                }
            }
            &:last-child {
                .nav-link {
                    background-color: $btncolor;
                    width: 170%;
                    border-radius: 12px;
                    &:hover {
                        background-color: $hover;
                        border: 1px solid $btncolor;
                        color: $color !important;
                    }

                    @media screen and (max-width: 990px) {
                        width: 127px;
                        margin-top: 2vh;
                    }
                }
            }
        }
        @media screen and (max-width: 990px) {
            margin-left: 0 !important;
        }
    }
}
.reset-sec {
    border: none;
    padding-bottom: 15vh;
    .row {
        .col-6 {
            .icon {
                .nav-link {
                    color: $color;
                    padding: 0 !important;
                }
                span {
                    border: 3px solid $color;
                    width: 42px;
                    padding: 5px;
                    border-radius: 100%;
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .secondrow {
        .textreset {
            font-family: $pop;
            .text {
                .paddlock {
                    width: 8%;
                    img {
                        width: 50%;
                    }
                }
                h1 {
                    // font-size: 40px;
                    font-family: $pop;
                    font-weight: 600 !important;
                }
            }
            .leads {
                font-size: 17px;
                font-weight: 400 !important;
                @media screen and (min-width: 460px) {
                    width: 80%;
                }
                @media screen and (min-width: 767px) {
                    width: 100%;
                }
                @media screen and (min-width: 992px) {
                    width: 70%;
                }
                @media screen and (min-width: 1300px) {
                   font-size: 20px;
                }
            }
            @media screen and (max-width: 787px) {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: center;
                margin-bottom: 2vh!important;
            }
        }
        form {
            .form-label {
                font-size: 20px;
                font-family: $firstfamily;
            }
            .in {
                width: 83%;
                height: 6.8vh;
                border: 1px solid;
                border-radius: 10px;
                @media screen and (max-width: 787px) {
                    width: 95%;
                }
            }
            .but {
                width: 83%;
                border: 1px solid $btncolor;
                border-radius: 12px;
                height: 6vh;
                background-color: $btncolor;
                color: $hover;
                font-size: 18px;
                font-family: $firstfamily;
                &:hover {
                    background-color: $hover2;
                    color: $color;
                }
                @media screen and (max-width: 787px) {
                    width: 95%;
                }
            }
            @media screen and (max-width: 787px) {
                display: flex;
                flex-direction: column;
                align-items: initial;
                justify-content: center;
            }
        }
        .return {
            color: $color;
            font-size: 18px;
            font-family: $firstfamily;
            width: 78%;
            a {
                color: $hover2;
                text-decoration: none;
                font-weight: 600;
            }

            @media screen and (max-width: 1200px) {
                padding: 0;
            }
        }
        .booklibary {
            @media screen and (max-width: 787px) {
                justify-content: center !important;
            }
        }
    }
    @media screen and (max-width:787px) {
        padding-bottom: 0vh;
    }
}
