.bar {
    font-size: 30px;
}
.inpot {
    position: relative;
    span {
        position: absolute;
        top: 0;
        right: 22%;
        transform: translateY(12px);
        @media screen and (max-width: 787px) {
            position: absolute;
            top: 0;
            right: 11%;
            transform: translateY(11px);
        }
    }
}
.eyes {
    color: #0000005e;
    &:hover {
        cursor: pointer;
    }
}
