$color: #000000;
$btncolor: #e77d2c;
$hover: #ffffff;
$border: #e5e5e5;
$user: #f79240;
$user2: #f38d39d0;
$bookbg: #c4c4c4;
$change: #fda562;
$firstfamily: "Roboto", sans-serif;
$font2: "Nunito Sans", sans-serif;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$dashboard: #6b6561;
$footerfont: "Sunflower", sans-serif;
$delivered: #046307;
$blocked: #f10707;
$new: #9c9894;
