.tent {
    text-align: left;
    @media screen and (min-width: 768px) {
        font-size: 13.6px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 23px;
    }
}
.mid-p {
    padding-left: 10px;
    @media screen and (min-width: 400px) {
        padding-left: 20px;
    }
    @media screen and (min-width: 600px) {
        padding-left: 25px;
    }
    @media screen and (min-width: 900px) {
        padding-left: 0;
    }
}
.m-c {
    margin-bottom: 10vh;
    @media screen and (max-width:768px) {
        margin-bottom: 2vh;
        margin-top: 3vh!important;
    }
}
.wid{
    @media screen and (min-width:1200px) {
        width: 60%;
    }
}
