@import "colors";
@import "variables";
@import "mixin";

* {
    margin: 0px;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    padding: 0px;
}

body {
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 3vw;
        padding-right: 3vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 90px;
        padding-top: 10px;
        position: relative;

        .logo {
            img {
                padding-top: 10px;
                width: 85%;

            }
        }

        .icon {
            font-size: 30px;
            align-self: center;
        }

        // .navbar {
        //     display: none;
        // }
        .navbar {
            display: none;
        }

        .responsiveness {
            display: grid;
            position: absolute;
            flex-direction: row;
            left: 80px;
            right: 0;
            top: 90px;
            width: 100%;
            padding: 0px;
            margin: 0px;
            background-color: $colourwhite;

            a {
                text-decoration: none;
                color: black;
                @include font;
                font-size: 18px;
                line-height: 2.5;


                button {
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: $firstcolor;
                    border-radius: 15px;
                    color: #ffff;
                    margin-top: 1px;
                }
            }
        }


        @media screen and (min-width: 993px) {
            .navbar {
                display: flex;

                .link {
                    display: flex;
                    justify-content: space-between;
                    justify-content: space-between;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    @include font;

                    color: black;

                    a {
                        padding-left: 3.5vw;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            // border-bottom: 5px solid black;
                            color: $firstcolor;
                        }

                        img {
                            vertical-align: middle;
                        }
                    }

                    .btn {
                        button {
                            width: 150px;
                            height: 50px;
                            border-radius: 15px;
                            background-color: $firstcolor;
                            @include font;
                            color: white;
                            font-weight: 400;

                            &:hover {
                                background-color: $colourwhite;
                                color: $colourblack;
                            }
                        }
                    }
                }
            }

            .icon {
                display: none;
            }
        }



    }
}

.navbar2 {
    display: none;
    // position: relative;
    background-color: $colourwhite;

}

.showhelp {
    img {
        padding-right: 5px;
    }

    display: grid;
    position: absolute;
    top: 90px;
    font-family: $familyN;
    font-weight: 400;
    margin: 0px;
    right: 323px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    background-color:$colourwhite;
    line-height: 30px;
    font-size: 16px;

    hr {
        color: black;
        padding-bottom: 10px;
    }

    @media screen and (max-width:923px) {
        right: 0px;
        left: 0px;
        top: 350px;
        padding-left: 33px;

    }

    button {
        // padding-left: 10px;
        // padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 2px;
        padding-left: 2px;
        background-color: $firstcolor;
        border-radius: 15px;
        color: #ffff;
        margin-top: 1px;
        margin-bottom: 2px;
        width: 130px;
        text-align: center;
        font-size: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: $colourwhite;
            color: $firstcolor;
        }
    }


}

.section1 {
    background-color: $order;
    padding: 0px 3vw 0px 3vw;
    padding-bottom: 50px;

    // position: relative;

    .search {

        padding-top: 100px;
        padding-bottom: 50px;

        @media screen and (min-width: 935px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        h6 {
            font-size: 20px;
            padding-bottom: 10px;
            color: $colourwhite;
            font-family: $familyN;
            font-weight: 400;

            // @media screen and (min-width:994px) {
            //     position: absolute;
            //     top: 140px;
            //     font-size: 24px;
            // }
        }

        .searchShop {
            background-color: $search;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 10px;

            @media screen and (min-width: 707px) {
                padding: 20px 5px 20px 30px;
                // padding-right: 30px;
                width: 680px;

                // float: right;


            }

            @media screen and (min-width: 935px) {
                width: 700px;
            }


            // padding-left: 3vw;
            .search2 {
                display: flex;
                justify-content: center;
                // border: 2px solid black;
                // position: absolute;
                width: 95%;
                margin: 0;
                padding: 0px;
                height: 30px;
                margin-left: 2vw;
                border-radius: 20px;

                // display: flex;
                // justify-content: flex-end;
                @media screen and (min-width: 707px) {
                    height: 60px;
                    width: 580px;
                    // float: right;
                    // margin-left: 0vw;


                }

                .form-select {
                    width: 50vw !important;
                    border: none !important;
                    font-size: 2vw;
                    padding: 0px;

                    border-radius: 0%;
                    font-family: $familyN;
                    font-weight: 500;

                    @media screen and (min-width: 660px) {
                        font-size: 17px;
                        border-right: 2px solid black !important;
                        // padding-left: 10px;
                    }

                    // @media screen and (min-width: 992px) {
                    //   font-size: 20px;
                    //   width: 20% !important;

                    //   border-right: 2px solid black !important;
                    // }
                }

                .form1 {
                    border-radius: 10px 0px 0px 10px;
                    padding-left: 1vw;


                }

                .btn3 {
                    background-color: $firstcolor;
                    border-radius: 0px 10px 10px 0px;
                    color: $colourwhite;
                    font-family: $familyN;
                    font-size: 12px;
                    padding: 0px 5px 0px 5px;
                    font-weight: 600;

                    &:hover {
                        background-color: $colourwhite;
                        color: $colourblack;
                    }

                    @media screen and (min-width: 660px) {
                        //   position: absolute;
                        //   right: 0px;
                        //   margin-right: 6.5vw;
                        //   border-radius: 15px;
                        //   width: 20%;
                        //   height: 75px;
                        //   background-color: $colourblack;
                        font-size: 20px;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }

    }

    .accountSection {
        @media screen and (min-width:893px) {

            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 1vw
        }

        .order {
            background-color: $colourwhite;
            width: 250px;
            padding-bottom: 10px;

            p {
                // display: inline-block;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-top: 5px;
                font-family: $familyN;

                img {
                    padding-right: 5px;
                    width: 25px;

                    vertical-align: bottom;
                }
            }

            P:first-child {
                background-color: $section3colour;
                color: $colourwhite;
                padding-top: 10px;
                padding-bottom: 10px;

                img {
                    color: $colourwhite !important;
                }
            }

            button {
                margin: auto;
                display: flex;
                padding: 10px 30px 10px 30px;
                background-color: $section3colour;
                color: white;
                border-radius: 10px;
            }
        }

        .account {
            background-color: $colourwhite;
            margin-top: 20px;
            font-family: $familyN;

            @media screen and (min-width:893px) {
                width: 70%;

            }

            h3 {
                font-weight: 700;
                padding-left: 3vw *1.5;
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(107, 101, 97, 0.6);
            }

            .accountSub {
                @media screen and (min-width:673px) {
                    display: flex;
                    justify-content: space-evenly;
                }

                .firstDiv {
                    div:first-child {
                        //  padding: 10px;
                        border: 1.5px solid rgba(107, 101, 97, 0.6);
                        width: 280px;
                        height: 275px;

                        margin: 10px;
                        border-radius: 10px;
                        font-family: $familyN;

                        @media screen and (min-width:1299px) {
                            width: 390px;
                            height: 257px;
                        }

                        h6 {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            border-bottom: 1px solid rgba(107, 101, 97, 0.6);
                            width: 100%;
                            padding: 10px 10px 0px 10px;
                            margin-bottom: 0rem !important;
                            font-size: 18px;
                            font-weight: 600;

                            img {
                                width: 15px;
                            }
                        }

                        small {
                            padding: 10px;
                            padding-left: 10px;
                            font-weight: 200;
                            font-family: $familyN;
                        }

                        h5 {
                            font-size: 14px;
                            color: $section3colour;
                            padding-top: 30px;
                            padding-left: 10px;
                        }

                        margin: auto;
                        margin-bottom: 20px;
                    }

                    div:nth-child(2) {
                        border: 1.5px solid rgba(107, 101, 97, 0.6);
                        //width: 250px;
                        width: 280px;
                        height: 275px;
                        margin: 10px;
                        border-radius: 10px;
                        font-family: $familyN;

                        @media screen and (min-width:1299px) {
                            width: 390px;
                            height: 257px;
                        }


                        h6 {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            border-bottom: 1px solid rgba(107, 101, 97, 0.6);
                            width: 100%;
                            padding: 10px 10px 0px 10px;
                            margin-bottom: 0rem !important;
                            font-size: 18px;
                            font-weight: 600;

                            img {
                                width: 15px;
                            }
                        }

                        small {
                            padding: 10px;
                            padding-top: 20px;
                        }

                        margin: auto;
                        margin-bottom: 20px;
                    }

                }

                .secondDiv {
                    div:first-child {
                        padding-bottom: 10px;
                        border: 1.5px solid rgba(107, 101, 97, 0.6);
                        //width: 250px;
                        width: 280px;
                        height: 275px;
                        margin: 10px;
                        border-radius: 10px;
                        font-family: $familyN;

                        @media screen and (min-width:1299px) {
                            width: 390px;
                            height: 257px;
                        }


                        h6 {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            border-bottom: 1px solid rgba(107, 101, 97, 0.6);
                            width: 100%;
                            padding: 10px 10px 0px 10px;
                            margin-bottom: 0rem !important;
                            font-size: 18px;
                            font-weight: 600;

                            img {
                                width: 15px;
                            }
                        }

                        p {
                            padding: 10px;
                        }

                        button {
                            display: flex;
                            margin: auto;
                            background-color: $colourwhite;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            padding: 10px 10px 0px 10px;
                            color: $section3colour;
                            font-family: $familyN;
                            font-weight: 400;
                            font-size: 12px;
                            gap: 10px;
                        }

                        margin: auto;
                        margin-bottom: 20px;
                    }

                    div:nth-child(2) {
                        border: 1.5px solid rgba(107, 101, 97, 0.6);
                        //width: 250px;
                        width: 280px;
                        height: 275px;
                        margin: 10px;
                        border-radius: 10px;
                        font-family: $familyN;
                        padding-bottom: 90px;

                        @media screen and (min-width:1299px) {
                            width: 390px;
                            height: 257px;
                        }


                        h6 {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            border-bottom: 1px solid rgba(107, 101, 97, 0.6);
                            width: 100%;
                            padding: 10px 10px 0px 10px;
                            margin-bottom: 0rem !important;
                            font-size: 18px;
                            font-weight: 600;


                        }

                        p {
                            padding: 10px;
                        }

                        margin: auto;
                    }
                }
            }
        }

    }





}

.bookSeller {
    padding-bottom: 50px;
    .none {
        display: none;
  
      }
  
      .nm {
        @media only screen and(min-width:400px) {
          display: inline-block;
        }
      }
  
      .nt {
        @media only screen and(min-width:700px) {
          display: inline-block;
        }
      }
  
      .nd {
        @media only screen and(min-width:992px) {
          display: inline-block;
        }
      }
    h3{
        text-align: center;
        padding: 20px 20px;
        font-family: $familyN;
        font-weight: 700;
    }
    .content {

        padding-left: 4vw;
        padding-right: 4vw;

        .firstLine {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                padding-left: 5vw;
                padding-right: 5vw;
                display: flex;


            }

            p {
                color: $colourblack;
                text-align: center;
                font-family: $familyN;
                font-size: 18px;
                line-height: 25px;
                padding-top: 25px;
            }

            button {
                display: flex;
                margin: auto;
                // margin-bottom: 0px;
                padding: 10px 20px 10px 20px;
                background-color: $firstcolor;
                color: $colourwhite;
                font-size: $familyN;
                font-weight: 600;
                font-size: 16px;

                &:hover {
                    background-color: $colourwhite;
                    color: $colourblack;
                }
            }
        }
    }


}
footer {
    background-color: $section2colour;
    color: $colourwhite;
    padding-left: $align *1.5;
    padding-right: $align * 2;
    font-family: $familyN;

    a {
      text-decoration: none;
      justify-content: center;
      text-align: center;
      margin: auto;
      display: block;
      color: $colourwhite;
      padding-top: 20px;

      p {
        font-size: 12px;
      }

      @media screen and (min-width:766px) {
        padding-top: 42px;

        i {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }
      }

    }

    .foot {
      @media screen and (min-width:1037px) {
        display: flex;
        justify-content: space-between;
      }

      .divD {
        @include flex;
        justify-content: space-between;

        span {
          font-size: 20px;
          font-weight: 700;

        }

        span+p {

          padding-top: 10px;

        }

        p {
          font-size: 15px;

          @media screen and (min-width:600px) {
            font-size: 18px;
            width: 200px;
          }
        }

        @media screen and (min-width:766px) {
          padding-top: 40px;
        }

        div:first-child {
          width: 170px;

        }

        div:nth-child(2) {
          p {
            line-height: 0.6;
            color: $foot;

          }

          h5 {
            font-weight: 700;
            font-size: 20px;
            padding-bottom: 10px;
          }

          @media screen and (min-width:766px) {
            padding-top: 10px;
            padding-left: 10vw;
          }

          @media screen and (min-width:1250px) {
            padding-left: 14vw;
            
          }
        }
      }

      .div2 {
        @include flex;
        justify-content: space-between;
        padding-top: 80px;
        font-family: $familyN;

        @media screen and (min-width:766px) {
          // padding-left: 5vw;
          margin-top: -27px;

        }

        div:first-child {
          h5 {
            color: $colourwhite;
            font-weight: 700;
            font-size: 20px;
            padding-bottom: 10px;

          }

          color: $foot;

          p {
            font-size: 15px;

            @media screen and (min-width:600px) {
              font-size: 18px;
            }
          }
        }

        div:last-child {
          h5 {
            color: $colourwhite;
            font-weight: 700;
            font-size: 20px;
            padding-bottom: 10px;
          }

          span {
            display: flex;
            input {
              width: 100%;
              padding: 5px;
              font-size: 10px;
              border-radius: 10px 0px 0px 10px;
              background-color: $section3colour;
              color: $colourwhite;
              padding-left: 3px;
              // position: relative;

              @media screen and (min-width:600px) {
                width: 200px;
                height: 40px;
                font-size: 15px;
                // padding-right: $align *5;
                margin-right: $align;
              }

              // @media screen and (min-width:1037px) {
              //   margin-right: $align *2;
              // }



            }

            button {
              background-color: $colourwhite;
              padding: 0px 3px 4px 2px;
              margin-left: -6px;

              width: 40px;
              border-radius: 10px;
              // position: absolute;
               transform: translateX(-5px);
               @media screen and (min-width:600px) {
              //   right: $align *1.5;
               width: 70px;
               transform: translateX(-30px);
              }

              

               @media screen and (min-width:1035px) {
                transform: translateX(-70px);
               }

              
            }
          }

           @media screen and (min-width:1125px) {
             padding-left: 100px;
          }

          // @media screen and (min-width:1250px) {
          //   padding-left: 17vw;

          // }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-bottom: 20px;
      color: $foot;
      font-size: 15px;
      padding-top: 40px;

      @media screen and (min-width:766px) {
        @include flex;
        justify-content: space-between;
      }
    }
  }