.bar {
  font-size: 30px;
}

.first .btn {
  background-color: #e77d2c;
  color: #ffffff;
  font-weight: 600;
  width: 30%;
  font-size: 17px;
}

.first .btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e77d2c;
}

.first .text1 {
  font-size: 42px;
}

@media screen and (min-width: 465px) {
  .first .text1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .first .text1 {
    font-size: 4.8rem;
  }
}

.first .p {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (min-width: 410px) {
  .first .p {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .first .p {
    font-size: 24px;
  }
}

.dropdown {
  border-radius: 16px 0px 0 15px;
  height: 8vh;
  background-color: #ffffff;
}

.drop {
  height: 8vh;
}

.img-container {
  position: relative;
}

.img-container .circle {
  position: absolute;
  top: -10%;
  left: 17%;
  z-index: -1;
}

@media screen and (max-width: 990px) {
  .img-container .circle {
    left: 6%;
  }
}

.img-container .circles {
  position: absolute;
  bottom: -9%;
  right: 4%;
  z-index: -1;
}

@media screen and (max-width: 990px) {
  .img-container .circles {
    width: 20%;
    right: 17%;
  }
}

@media screen and (max-width: 990px) {
  .img-container {
    margin-top: 8%;
    margin-bottom: 4% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.text1 {
  font-size: 42px;
  font-font-family: "Nunito Sans", sans-serif !important;
}

@media screen and (min-width: 465px) {
  .text1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .text1 {
    font-size: 4.8rem;
  }
}

.get .but {
  background-color: #e77d2c;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 7vh;
  margin-top: 4vh !important;
  font-size: 17px;
}

.get .but:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e77d2c;
}

@media screen and (min-width: 990px) {
  .get .but {
    display: none;
  }
}

.in {
  position: relative;
}

.in .dropp {
  position: absolute;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(20.2px);
          transform: translateY(20.2px);
}

.in .dropp i {
  font-size: 21px;
}

@media screen and (min-width: 1200px) {
  .in .dropp {
    top: -3px;
  }
}

@media screen and (max-width: 576px) {
  .in {
    display: none;
  }
}

.secondselect .sec {
  position: relative;
}

.secondselect .sec .dropped {
  position: absolute;
  top: 0px;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.secondselect .sec .dropped i {
  font-size: 18px;
}

@media screen and (min-width: 577px) {
  .secondselect {
    display: none;
  }
}

@media screen and (max-width: 577px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 577px) {
  .search .buk {
    display: none;
  }
}

@media screen and (max-width: 587px) {
  .drolist {
    width: 90%;
  }
}

.drolist .min-glass {
  color: #ffffff;
  font-size: 20px;
}

.drolist .min-glass:hover {
  color: #000000;
}

.bnt {
  background-color: #e77d2c;
  border: 1px solid #e77d2c;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
}

.bnt:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

.sow {
  height: 8vh;
  font-size: 17px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 500px) {
  .sow {
    width: 45% !important;
  }
}

.footer p {
  font-family: "Sunflower", sans-serif;
  font-weight: 300;
}

.line {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 787px) {
  .line {
    font-size: 26px;
  }
}

.input-group {
  border: 1px solid #e77d2c;
  background-color: #e77d2c;
}

.good {
  border-radius: 15px;
}

.second-row .hin h6 {
  font-size: 12px;
}

@media screen and (min-width: 767px) {
  .second-row .hin h6 {
    font-size: 15px;
  }
}

.tent {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .tent {
    font-size: 13.6px;
  }
}

@media screen and (min-width: 1200px) {
  .tent {
    font-size: 23px;
  }
}

.mid-p {
  padding-left: 10px;
}

@media screen and (min-width: 400px) {
  .mid-p {
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  .mid-p {
    padding-left: 25px;
  }
}

@media screen and (min-width: 900px) {
  .mid-p {
    padding-left: 0;
  }
}

.m-c {
  margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
  .m-c {
    margin-bottom: 2vh;
    margin-top: 3vh !important;
  }
}

@media screen and (min-width: 1200px) {
  .wid {
    width: 60%;
  }
}

.get:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sm-M {
  margin-top: 2vh;
}

.lid {
  border-bottom: 3px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.lid .ul {
  padding-right: 3vw;
  width: 86%;
}

.lid .ul .nav-item {
  padding-left: 20px;
}

.lid .ul .nav-item .nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.lid .ul .nav-item .nav-link:hover {
  color: #e77d2c;
}

.lid .ul .nav-item:last-child .nav-link {
  background-color: #e77d2c;
  width: 170%;
  border-radius: 12px;
}

.lid .ul .nav-item:last-child .nav-link:hover {
  background-color: #ffffff;
  border: 1px solid #e77d2c;
  color: #000000 !important;
}

@media screen and (max-width: 990px) {
  .lid .ul .nav-item:last-child .nav-link {
    width: 127px;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 990px) {
  .lid .ul {
    margin-left: 0 !important;
  }
}

.sec1 .first-text .online {
  color: #e77d2c;
}

@media screen and (max-width: 340px) {
  .sec1 .first-text .online {
    font-size: 18px;
  }
}

.sec1 .first-text .wel {
  color: #000000;
}

@media screen and (max-width: 990px) {
  .sec1 .first-text .btn {
    display: none;
  }
}

.sec1 .bg {
  background-color: #c4c4c44f;
  border-radius: 13px;
}

.sec1 .bg .search {
  padding-left: 2vw !important;
}

.sec1 .bg .search .book {
  font-weight: 400 !important;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 990px) {
  .sec1 .bg .sec {
    margin-bottom: 0 !important;
  }
}

.sec1 .bg .last {
  position: relative;
}

.sec1 .bg .last .btn {
  color: #ffffff;
  position: absolute;
  right: -66%;
  top: 0;
  height: 8vh;
  width: 67%;
  font-size: 20px;
  border: 2px solid #e77d2c;
  background-color: #e77d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .sec1 .bg .last .btn {
    margin-right: 2vw;
  }
}

.sec1 .bg .last .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 589px) {
  .sec1 {
    padding-left: 2% !important;
    padding-top: 2% !important;
  }
}

.sec2 {
  min-height: 100vh;
}

.sec2 .slidess {
  gap: 5vw;
}

@media screen and (max-width: 990px) {
  .sec2 .slidess {
    gap: 11vw;
  }
}

.sec2 .bookk {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.sec2 .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec2 .side .bun {
  width: 47%;
}

.sec2 .mygov {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@media screen and (max-width: 1000px) {
  .sec2 .mygov {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
}

@media screen and (max-width: 1000px) {
  .texting {
    margin-bottom: 2% !important;
  }
}

.sec3 {
  position: relative;
}

.sec3 .side-circle {
  position: absolute;
  top: -69%;
  width: 9%;
}

@media screen and (max-width: 279px) {
  .sec3 .side-circle {
    display: none !important;
  }
}

@media screen and (min-width: 280px) {
  .sec3 .side-circle {
    top: -30%;
    left: 0;
  }
}

@media screen and (min-width: 400px) {
  .sec3 .side-circle {
    top: -42%;
    z-index: 1;
    width: 8%;
  }
}

@media screen and (min-width: 992px) {
  .sec3 .side-circle {
    left: -27px;
  }
}

@media screen and (min-width: 1100px) {
  .sec3 .side-circle {
    width: 72px;
    top: -34%;
    left: 0;
  }
}

@media screen and (min-width: 1500px) {
  .sec3 .side-circle {
    top: -34%;
  }
}

.sec3 h3 {
  font-size: 24.7px;
  font-weight: 400;
}

@media screen and (min-width: 375px) {
  .sec3 h3 {
    font-size: 29.6px;
  }
}

@media screen and (min-width: 449px) {
  .sec3 h3 {
    font-size: 36.5px;
  }
}

@media screen and (min-width: 537px) {
  .sec3 h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .sec3 h3 {
    font-size: 52px;
  }
}

@media screen and (min-width: 991px) {
  .sec3 h3 {
    width: 66%;
  }
}

@media screen and (min-width: 1210px) {
  .sec3 h3 {
    width: 55%;
  }
}

.sec3 h3 .trust {
  color: #e77d2c;
}

.sec3 .card {
  padding: 7px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec3 .card:nth-child(1) {
  margin-bottom: 5vh;
}

.sec3 .card .card-body {
  min-height: 48%;
}

.sec3 .card .card-body .card-text {
  text-align: left;
  font-size: 18.7px;
  line-height: 1.6;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .sec3 .card .card-body .card-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .sec3 .card .card-body .card-text {
    font-size: 23px;
  }
}

.sec4 {
  background-color: #e77d2c;
  color: #ffffff;
}

.sec4 .Sponsors-logo {
  background-color: #ffffff;
  border-radius: 13px;
  padding: 1em;
}

@media screen and (max-width: 787px) {
  .sec4 .Sponsors-logo {
    padding: 3px;
    margin-top: 5px !important;
  }
}

.sec4 .row {
  padding: 1em;
}

@media screen and (max-width: 787px) {
  .sec4 .row {
    padding-top: 3px !important;
  }
}

.footer {
  min-height: 100vh;
  color: #ffffff;
}

@media screen and (min-width: 1000px) {
  .footer .first-p {
    margin-top: 4vh !important;
  }
}

@media screen and (min-width: 767px) {
  .footer .gru2 {
    margin-top: 1.5vh;
  }
}

.footer .row {
  padding: 15px;
}

.footer .two {
  margin-top: 1vh;
}

.footer .two .light {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 470px) {
  .footer .two .light {
    margin-top: 2vh;
  }
}

@media screen and (min-width: 700px) {
  .footer .two .light {
    margin-top: 0;
  }
}

@media screen and (min-width: 470px) {
  .footer .two .light h5 {
    font-size: 25px;
  }
}

.footer .two .light p {
  font-size: 14px;
}

@media screen and (min-width: 700px) {
  .footer .two .light p {
    font-size: 16px;
    margin-top: 1.5vh;
  }
}

@media screen and (min-width: 1000px) {
  .footer .two .light p {
    font-size: 16px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .footer .two .light .first-p {
    margin-top: 3.5vh;
  }
}

.footer .booklygup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .booklygup p {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2vh 0;
}

.footer .paper {
  font-size: 12px;
  margin-top: 2vh;
}

@media screen and (min-width: 440px) {
  .footer .paper {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .footer .paper {
    font-size: 17px;
  }
}

.footer .contact {
  font-size: 12.9px;
}

@media screen and (min-width: 470px) {
  .footer .contact h5 {
    font-size: 25px;
  }
}

.footer .subscribe {
  position: relative;
}

.footer .subscribe h5 {
  font-size: 18.2px;
}

@media screen and (min-width: 470px) {
  .footer .subscribe h5 {
    font-size: 22.5px;
  }
}

.footer .subscribe .inn {
  background-color: #e77d2c !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 15px;
}

.footer .subscribe .inn::-webkit-input-placeholder {
  color: #ffffff !important;
}

.footer .subscribe .inn:-ms-input-placeholder {
  color: #ffffff !important;
}

.footer .subscribe .inn::-ms-input-placeholder {
  color: #ffffff !important;
}

.footer .subscribe .inn::placeholder {
  color: #ffffff !important;
}

.footer .subscribe .bt {
  background-color: #ffffff;
  height: 6vh;
  border: 1px solid #ffffff;
  border-radius: 13px 13px 12px 12px;
  width: 162%;
  -webkit-transform: translateX(-13px);
          transform: translateX(-13px);
}
/*# sourceMappingURL=styles.css.map */